streamlit
pandas
numpy
spacy==3.3.0
spacy_streamlit==1.0.4
requests
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz
altair
plotly
